body{
    font-size: 16px;
}

button{
    color: white !important;
}




.col-center{
    float: none;
    margin: 0 auto;
}




.text-giant{
    font-size: 10rem;
}



.elements--element-single{
    overflow: hidden;
    margin-bottom: 10px;
    color: white;
}



.new-block a{
    color: white;
}




.color-pick option{
    height: 10px;
}




.element-single--options,
.new-block{
    display: none;
}
