<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            '%kernel.root_dir%/Styles/bootstrap.min.css'
            '%kernel.root_dir%/Styles/bootstrap.css*'
            '%kernel.root_dir%/Styles/style.css'
            filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand text-center text-primary" href="{{ path('homepage') }}">ToDoApp</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Hello <i>{{ app.user.username }}</i><span class="caret"></span>
                            </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">My Account</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Log Out</a></li>
                                </ul>
                            {% else %}
                                <a href="{{ path('homepage') }}">Log In</a>
                            {% endif %}

                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        {% block body %}
        {% endblock %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <h3 class="text-center text-muted">Your carma is {{ app.user.carma }}</h3>
        {% endif %}
        <footer>
            <hr>
            <p class="text-center text-info">Webiste Created in Symfony by Alan Krygowski</p>
        </footer>
        {% block javascripts %}
            {% javascripts
            '%kernel.root_dir%/Scripts/jquery-3.1.1.js'
            '%kernel.root_dir%/Scripts/Script.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
