{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="jumbotron">
                <h1 class="page-header">Witaj {{ app.user.firstname }}</h1>
                <h2 class="text-center">Twoje kategorie to: </h2>
                <div class="row  text-center">
                    <div class="col-md-5 col-center" id="elements">
                        <div class="btn-group-lg elements--element-group">
                            {% if catList %}
                            {% for c in catList %}
                            <div class="elements--element-single element-single--todo">
                                <a href="{{ path('list', { 'id' : c.id }) }}" class="elements--link">
                                    <button class="col-md-12 btn" style="background-color: {{ c.categoryColor }}; color: white">
                                        {{ c.categoryName }}
                                    </button>
                                </a>
                            </div>
                            {% endfor %}
                            {% else %}
                                <h2 class="text-center text-empty text-info" >
                                    Nie masz jeszcze kategorii
                                    Kliknij pole aby dodać :)
                                </h2>
                            {% endif %}
                            <div class="new-elements">
                                <div class="elements--element-single element-single--todo new-block">
                                    <a href="#" class="elements--link">
                                        <button class="col-md-12 btn element-single--button-main">Nazwa Kategorii</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row category-form cat-todo-form">
                            <h3>Nowa kategoria:</h3>
                            {{ form_start(form) }}
                            <p>
                                <div class="col-md-10">
                                    {{ form_label(form.categoryName) }}
                                    {{ form_widget(form.categoryName) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_label(form.categoryColor) }}
                                    {{ form_widget(form.categoryColor) }}
                                </div>
                            </p>
                            <p>{{ form_widget(form.save) }}</p>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <header>
                <div class="text-center">
                    <h1 class="text-primary text-giant">ToDoApp</h1>
                    <p class="text-muted">Your perfect to do list!</p>
                    <hr/>
                    <h1 class="text-info">Log In: </h1>
                    <div class="col-lg-5 col-center">
                        {{ render(controller('FOSUserBundle:Security:login')) }}
                        <p><a href="{{ path('fos_user_registration_register') }}">No Account? Register here!</a></p>
                    </div>

                </div>
            </header>
        {% endif %}
    </div>
{% endblock %}
