{% extends 'base.html.twig' %}


{#
    For every traveler who stumbled upon this code
    This is NOT a proper use of BEM,
    It is actually a VERY unproper use of it

    We all learn something at some point.
    Love, Alan.
#}
{% block body %}
    <div class="container">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <style>
                .element-single--button-main {
                    color: white;
                    background: {{ thisCat[0].categoryColor }}
                }

                .text-empty {
                    color: {{ thisCat[0].categoryColor }}
                }
            </style>
            <div class="jumbotron">
                <h1 class="page-header">Witaj {{ app.user.firstname }}</h1>
                <h2 class="text-center">Lista dla kategorii {{ thisCat[0].categoryName }} </h2>
                <div class="row  text-center">
                    <div class="col-md-5 col-center" id="elements">
                        <div class="btn-group-lg elements--element-group"
                             data-path="{{ path("ModifyTodoAjax", { id : '__mock__' }) }}"
                             data-path-id="{{ '__mock__' }}"
                        >
                            {% if todos %}
                                {% for t in todos %}
                                    <div class="elements--element-single element-single--todo">
                                        <button class="col-md-12 btn element-single--button-main" data-id="{{ t.id }}">
                                            {{ t.name }}
                                        </button>
                                        <div class="element-single--options">
                                            <button class="btn btn-success col-md-6 option-check">Check</button>
                                            <button class="btn btn-info col-md-3 option-edit">Edit</button>
                                            <button class="btn btn-danger col-md-3 option-remove">Remove</button>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h2 class="text-center text-empty text-danger">
                                    Brak elementów tej kategorii.
                                    Kliknij pole by dodać :)
                                </h2>
                            {% endif %}
                            <div class="new-elements">
                                <div class="elements--element-single element-single--todo new-block">
                                    <button class="col-md-12 btn element-single--button-main">
                                        Nazwa Kategorii
                                    </button>
                                    <div class="element-single--options">
                                        <button class="btn btn-success col-md-6 option-check">Check</button>
                                        <button class="btn btn-info col-md-3 option-edit">Edit</button>
                                        <button class="btn btn-danger col-md-3 option-remove">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row todo-form cat-todo-form">
                            <h3>Nowy element</h3>
                            {{ form_start(form) }}
                            {{ form_widget(form.name) }}
                            {{ form_widget(form.categoryId, {'value': thisCat[0].id}) }}
                            {# TODO: FIND A BETTER WAY TO SEND THE categoryId#}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <header>
                <h1 class="text-center text-danger">
                    You must be logged in to see this page
                </h1>
            </header>
        {% endif %}
    </div>
{% endblock %}
