{% trans_default_domain 'FOSUserBundle' %}

<div class="col-lg-6 col-center text-center">
    <h1 class="text-primary">
        Register!
    </h1>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-success btn-lg"/>
    </div>
{{ form_end(form) }}
</div>